{% extends 'base.html' %}

{% block page_title %}
    <title>Machine Learning Prediction Model Home</title>
{% endblock page_title %}

{% block main_content %}

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <strong>Collaborative Filtering Based Recommender System</strong>
                                    </div>
                                    <div class="card-body card-block">
                                    <form id="recommend1-form">{% csrf_token %}
                                        <div class="form-group">
                                            <label for="user_id1" class=" form-control-label">USER ID</label>
                                            <input type="text" id="user_id1" name="user_id" placeholder="Enter USER ID" class="form-control">
                                        </div>
                                    </form>
                                    </div>
                                    <div class="card-footer">
                                        <button id="recommend1-submit" type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Predict
                                        </button>
                                        <button id="recommend1-reset" type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <strong>Recommended Movies</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <!-- DATA TABLE-->
                                        <div class="table-responsive m-b-40">
                                            <table class="table table-borderless table-data3" id="recommend1_result_table">
                                                <thead>
                                                    <tr>
                                                        <th>COLUMN 1</th>
                                                        <th>COLUMN 2</th>
                                                        <th>COLUMN 3</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END DATA TABLE-->
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-lg-12" style="height:10px"></div>

                            <div class="col-lg-8">
                                <div class="card h-200">
                                    <div class="card-header">
                                        <strong>Contents Based Recommender System</strong>
                                    </div>
                                    <div class="card-body card-block">
                                    <form id="recommend2-form">{% csrf_token %}                                        
                                        <div class="form-group">
                                            <label for="movie_title" class="form-control-label">Movie Title</label>
                                            <input type="text" id="movie_title" name="movie_title" placeholder="Enter Movie Title" class="form-control">
                                        </div>
                                    </form>
                                    </div>
                                    <div class="card-footer">
                                        <button id="recommend2-submit" type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Predict
                                        </button>
                                        <button id="recommend2-reset" type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card h-200">
                                    <div class="card-header">
                                        <strong>Recommended Movies</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <!-- DATA TABLE-->
                                        <div class="table-responsive m-b-40">
                                            <table class="table table-borderless table-data3" id="recommend2_result_table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>TITLE</th>
                                                        <th>RATING</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END DATA TABLE-->
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        {% include 'copyright.html' %}

{% endblock main_content %}

{% block custom_js %}

<script type="text/javascript">
$(function() {

    $('#recommend1-reset').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        $('#-form input').val('');

    });

    $('#recommend1-submit').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

    });

    $('#recommend2-reset').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        $('#recommend2-form input').val('');

    });

    $('#recommend2-submit').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        var columns = ['id', 'title', 'weighted_vote']

        var form_data = $('#recommend2-form').serialize();

        $.ajax({
            "url": "recommend-by-content",
            "method": "post",
            "data": form_data,
            "dataType": "json",
            "success": function(data, status, xhr) {
                // console.log(data);
                $('#recommend2_result_table tbody').empty()
                for (var i = 0; i < data.length; i++) {
                    var tr = $('<tr></tr>');

                    for (var j = 0; j < columns.length; j++) {
                        var td = $('<td></td>');
                        column = columns[j]; 
                        td.text(data[i][column]);
                        tr.append(td);
                    }

                    $('#recommend2_result_table tbody').append(tr);
                }

            }, 
            "error": function(xhr, status, err) {
                alert(err);
            }
        });


    });

});
</script>

{% endblock custom_js %}
