{% extends 'base.html' %}

{% block page_title %}
    <title>Machine Learning Prediction Model Home</title>
{% endblock page_title %}

{% block main_content %}

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <strong>Iris Species Prediction Form</strong>
                                    </div>
                                    <div class="card-body card-block">
                                    <form id="iris-form">{% csrf_token %}
                                        <div class="form-group">
                                            <label for="sepal_length" class=" form-control-label">Sepal Length</label>
                                            <input type="text" id="sepal_length" name="sepal_length" placeholder="Enter Sepal Length" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="sepal_width" class=" form-control-label">Sepal Width</label>
                                            <input type="text" id="sepal_width" name="sepal_width" placeholder="Enter Sepal Width" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="petal_length" class=" form-control-label">Petal Length</label>
                                            <input type="text" id="petal_length" name="petal_length" placeholder="Enter Petal Length" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="petal_width" class=" form-control-label">Petal Width</label>
                                            <input type="text" id="petal_width" name="petal_width" placeholder="Enter Petal Width" class="form-control">
                                        </div>
                                    </form>
                                    </div>
                                    <div class="card-footer">
                                        <button id="iris-submit" type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Predict
                                        </button>
                                        <button id="iris-reset" type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <strong>Iris Species Prediction Result</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <div id="iris-result" class="alert alert-primary" role="alert">&nbsp;</div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-lg-12" style="height:10px"></div>

                            <div class="col-lg-8">
                                <div class="card h-200">
                                    <div class="card-header">
                                        <strong>Diabetes Prediction Form</strong>
                                    </div>
                                    <div class="card-body card-block">
                                    <form id="diabetes-form">{% csrf_token %}
                                        <div class="form-group">
                                            <label for="pregnancies" class="form-control-label">Pregnancies</label>
                                            <input type="text" id="pregnancies" name="pregnancies" placeholder="Enter Pregnancies" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="glucose" class="form-control-label">Glucose</label>
                                            <input type="text" id="glucose" name="glucose" placeholder="Enter Glucose" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="blood_pressure" class="form-control-label">Blood Pressure</label>
                                            <input type="text" id="blood_pressure" name="blood_pressure" placeholder="Enter Blood Pressure" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="skin_thickness" class="form-control-label">Skin Thickness</label>
                                            <input type="text" id="skin_thickness" name="skin_thickness" placeholder="Enter Skin Thickness" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="insulin" class="form-control-label">Insulin</label>
                                            <input type="text" id="insulin" name="insulin" placeholder="Enter Insulin" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="bmi" class=" form-control-label">BMI</label>
                                            <input type="text" id="bmi" name="bmi" placeholder="Enter BMI" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="diabetes_pedigree_function" class=" form-control-label">Diabetes Pedigree Function</label>
                                            <input type="text" id="diabetes_pedigree_function" name="diabetes_pedigree_function" placeholder="Enter Diabetes Pedigree Function" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="age" class=" form-control-label">Age</label>
                                            <input type="text" id="age" name="age" placeholder="Age" class="form-control">
                                        </div>
                                    </form>
                                    </div>
                                    <div class="card-footer">
                                        <button id="diabetes-submit" type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Predict
                                        </button>
                                        <button id="diabetes-reset" type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card h-200">
                                    <div class="card-header">
                                        <strong>Diabetes Prediction Result</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <div id="diabetes-result" class="alert alert-primary" role="alert">&nbsp;</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        {% include 'copyright.html' %}

{% endblock main_content %}

{% block custom_js %}

<script type="text/javascript">
$(function() {

    $('#iris-reset').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        $('#iris-form input').val('');

    });

    $('#iris-submit').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        var form_data = $('#iris-form').serialize(); // <form>에 포함된 모든 입력 요소의 값을 이름=값&이름=값의 형식으로 반환하는 함수

        $.ajax({
            "url": 'predict-species',
            "method": 'post',
            "data": form_data,
            "dataType": 'json', // 수신하는 데이터 타입 (서버에서 응답하는 데이터 타입)
            "success": function(data, status, xhr) {
                // alert(data.predicted_value);
                $('#iris-result').text(data.predicted_value);
            },
            "error": function(xhr, status, err) {
                alert(err);
            }

        });

    });

    $('#diabetes-reset').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        $('#diabetes-form input').val('');

    });

    $('#diabetes-submit').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        var form_data = $('#diabetes-form').serialize()

        $.ajax({
            "url": "predict-diabetes",
            "method": "post",
            "data": form_data,
            "dataType": "json",
            "success": function(data, status, xhr) {
                $('#diabetes-result').text(data.predicted_value);
            }, 
            "error": function(xhr, status, err) {
                alert(err);
            }
        })
    });

});
</script>

{% endblock custom_js %}
