{% extends 'base.html' %}

{% block page_title %}
    <title>Machine Learning Prediction Model Home</title>
{% endblock page_title %}

{% block main_content %}

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <strong>Iris Species Prediction Form</strong>
                                    </div>
                                    <div class="card-body card-block">
                                    <form id="iris-form">{% csrf_token %}
                                        <div class="form-group">
                                            <label for="sepal_length" class=" form-control-label">Sepal Length</label>
                                            <input type="text" id="sepal_length" name="sepal_length" placeholder="Enter Sepal Length" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="sepal_width" class=" form-control-label">Sepal Width</label>
                                            <input type="text" id="sepal_width" name="sepal_width" placeholder="Enter Sepal Width" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="petal_length" class=" form-control-label">Petal Length</label>
                                            <input type="text" id="petal_length" name="petal_length" placeholder="Enter Petal Length" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="petal_width" class=" form-control-label">Petal Width</label>
                                            <input type="text" id="petal_width" name="petal_width" placeholder="Enter Petal Width" class="form-control">
                                        </div>
                                    </form>
                                    </div>
                                    <div class="card-footer">
                                        <button id="iris-submit" type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Predict
                                        </button>
                                        <button id="iris-reset" type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <strong>Iris Species Prediction Result</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <div id="iris-result" class="alert alert-primary" role="alert">&nbsp;</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        {% include 'copyright.html' %}

{% endblock main_content %}

{% block custom_js %}

<script type="text/javascript">
$(function() {

    $('#iris-reset').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        $('#iris-form input').val('');

    });

    $('#iris-submit').on('click', function(event) {

        event.preventDefault();
        event.stopPropagation();

        var form_data = $('#iris-form').serialize(); // <form>에 포함된 모든 입력 요소의 값을 이름=값&이름=값의 형식으로 반환하는 함수

        $.ajax({
            "url": 'predict-species',
            "method": 'post',
            "data": form_data,
            "dataType": 'json', // 수신하는 데이터 타입 (서버에서 응답하는 데이터 타입)
            "success": function(data, status, xhr) {
                // alert(data.predicted_value);
                $('#iris-result').text(data.predicted_value);
            },
            "error": function(xhr, status, err) {
                alert(err);
            }

        });

    });

});
</script>

{% endblock custom_js %}
